In [1]:
%matplotlib inline

#Importing Modules
from pandas import DataFrame, Series
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
train = pd.read_csv("MatchOverviewTraining.csv")
test = pd.read_csv("MatchOverviewTest.csv")
match_detail = pd.read_csv("MatchDetail.csv")
match_detail.shape

(202319, 23)

In [25]:
match_detail["final_gold"] = match_detail["g_45"]
for i in range(40, -5, -5):
    match_detail.loc[match_detail["final_gold"]==0, "final_gold"] = match_detail["g_"+str(i)]
match_detail.head()
match_detail["final_gold"].loc[match_detail["final_gold"]==0].count()

0

In [35]:
match_detail[["match_id","final_gold"]].head()
match_detail["team_id"] =

match_id
2488125718    189117.0
2488125799    107584.0
2488125860    187543.0
2488126117    192207.0
2488126132    149956.0
2488126139    148461.0
2488126651    185046.0
2488126692    112518.0
2488126711    107094.0
2488126795    151009.0
2488126901    173208.0
2488126983    121308.0
2488126985    159056.0
2488127082    125692.0
2488127089    173181.0
2488127225     97704.0
2488127365    189634.0
2488127556    186231.0
2488127619     20351.0
2488128023    164930.0
2488128102    126340.0
2488128317    158867.0
2488128532    186480.0
2488128544    124584.0
2488128719    160842.0
2488128739    129229.0
2488128751    161085.0
2488128764    187143.0
2488128960    178760.0
2488129036    201271.0
                ...
2503038553      2532.0
2503038559     36933.0
2503038584     17879.0
2503038999     17120.0
2503039151     20623.0
2503039473     28641.0
2503039813     18188.0
2503040372     53688.0
2503040639     45178.0
2503041040     20728.0
2503041964     57053.0
2503043436     35683.0
2503044008     15378.0
2503044470     17171.0
2503044993     69205.0
2503045051     22334.0
2503046358     36568.0
2503046475     16920.0
2503046567     19567.0
2503047033     14237.0
2503047525     42034.0
2503047640     30179.0
2503048267     32336.0
2503048717     73201.0
2503048830     29268.0
2503048839      2551.0
2503049232     16876.0
2503049282     33312.0
2503049684     15133.0
2503049698     41586.0
Name: final_gold, dtype: float64

In [29]:
train.head()

,match_id,hero_1,hero_2,hero_3,hero_4,hero_5,hero_6,hero_7,hero_8,hero_9,hero_10,first_5_won
0,2488245920,34,83,29,102,12,88,107,10,70,53,True
1,2488233366,102,63,34,100,60,1,38,48,93,33,False
2,2488231318,7,112,8,64,71,1,11,41,102,92,True
3,2488216163,74,102,9,29,14,105,86,65,55,111,True
4,2488215113,51,68,79,15,10,85,28,91,102,89,True